@media only screen and (max-width: 767px){
    .entry-box{
        flex-direction: column;
    }
    .entry-box .col-xl-6:nth-child(1){
        margin-bottom: 30px;
    }
    .entry-box button{
        font-size: 15px;
    line-height: 30px;
    }
}